<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>UrLink : minifiez vos URls</title>
		<meta name="description" content="" />
		<meta name="author" content="Mathieu" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript" src="http://cloud.github.com/downloads/SteveSanderson/knockout/knockout-2.1.0.js"></script>

	</head>

	<body>
		<div id="content">
			<!-- HEADER -->
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<div class="brand" >
							UrLink - Application HTML5 / Twitter Bootstrap / REST / NoSQL
						</div>
					</div>
				</div>
			</div>

			<div class="container">

				<!-- -->
				<div class="hero-unit">
					<h1>UrLink</h1>
					<p>
						UrLink est une application permettant de minifier vos URLs
					</p>
					<p>
						<div id="url-error" class="alert alert-error">
							<!-- <button id="url-close" type="button" class="close">
								×
							</button> -->
							<i class="icon-ban-circle icon-white"> </i>
							Veuillez entrer une URL valide
						</div>
						<form id="form" data-bind="submit: minify" method="post">
							<input id="url" name="url" placeholder="Veuillez entrer l'URL à minifier" data-bind='value: toMinify, valueUpdate: "afterkeydown"' />
							<i class="icon-search" style="float: left; margin-right: 10px;"> </i>
							<button id="action" type="submit" class="btn" data-bind="enable: toMinify().length > 0">
								Minifier
							</button>
						</form>
					</p>
					<p>
						<span id="print-hash-url-success" class="label label-success" style="float: left; margin-right: 10px;">Succès</span>
						<!-- <i id="print-hash-url-success" class="icon-thumbs-up" style="float: left; margin-right: 10px;"> </i> -->
						<div id="print-hash-url"></div>
					</p>
					
					<!-- URLs processed -->
					<p>
						<ul data-bind="foreach: urls" style="list-style-type: none;">
            				<li>
            					<div class="alert alert-info" style="height: 10px; margin-bottom: 5px;">
            						<span data-bind="text: name"> </span>
                					<span data-bind="text: minifiedName"> </span>
								</div>
            				</li>
        				</ul>
					</p>
					
				</div>

				<div>
					<!-- TODO : Bloc SSE -->
				</div>

				<div class="row" style="horizontal-align: center">
					<div class="span4">
						<h3>Minimisez vos URLs</h3>
						<p>
							<!-- TODO -->
							UrLink vous permet de minimiser vos URLs.
						</p>
					</div>
					<div class="span4">
						<h3>Soyez informés des dernières URLs minimisées</h3>
						<p>
							<!-- TODO -->
							Gardez un oeil sur les dernières URLs minimisées, et ceci en temps-réel.
						</p>
					</div>
					<div class="span4">
						<h3>Utilise les dernières technologies Web Compliant</h3>
						<p>
							<!-- TODO -->
							Les technologies utilisées pour le développement de cette application sont Web Compliant.
						</p>
					</div>
				</div>
			</div>
		</div>

		<script>
			(function() {

				$(document).ready(function() {

					// *******************************************
					// Set up the UI states of the application ! *
					// *******************************************
					
					// Hide the success box by default
					$("#print-hash-url-success").hide();

					// Hide the error box by default
					$("#url-error").hide();

					// Deactivate the text field during XHR
					$("#url").ajaxStart(function() {
    					$(this).attr({
							"disabled" : "disabled"
						});
					// Activate the text field after a XHR
					}).ajaxComplete(function() {
    					$(this).removeAttr("disabled");
					});
					
					// Deactivate the button during XHR
					// Must not be activate after : handle by Knockout binding !
					$("#action").ajaxStart(function() {
    					$(this).attr({
							"disabled" : "disabled"
						});
					});

					// *********************************
					// KnockOut model and behaviours ! *
					// *********************************
					
					var ApplicationModel = function() {

						var self = this;
						
						// array of URL
						self.urls = ko.observableArray([]);
						
						// URL to minified
						self.toMinify = ko.observable("");
						
						// Get all the URLs processed from the HTML5 localStorage
						for (var i=0; i < localStorage.length; i++) {
							var key = localStorage.key(i);
							var value = localStorage[key];
  							self.urls.push(new URL(value, key));
						};

						// this function is used to minify a URL when clicking on the button
						self.minify = function() {
							
							var urlToMinify = $("#url").val();

							if(urlToMinify === '') {
								// Show the error box only if it is hidden
								$("#url-error:hidden").slideDown(300).delay(2000).slideUp(300);
							}
							
							else {
							
								// We need to encode the URL because of the ://
								var encodedURL = encodeURIComponent(urlToMinify);

								// TODO : Send URL to the REST service
								$.post("/api/minify/" + encodedURL, function(response) {
									
									var json_response = eval(response);
									var url = json_response.url;
									var minified = json_response.minified;
										
									// TODO : process the result of the XHR
									self.urls.push(new URL(url, minified));
										
									// Using of localStorage from HTML5
									localStorage[url] = minified;
								});

								// FIXME : autocompletion doesn't activate the button !
								self.toMinify(""); // Clears the text box, because it's bound to the "toMinify" observable
							
							}
							
						}.bind(this);
					};

					// URL model
					var URL = function(_name, _minifiedName) {
						var self = this;
						self.name = ko.observable(_name);
						self.minifiedName = ko.observable(_minifiedName);
					}
					
					ko.applyBindings(new ApplicationModel());

				})
				
			})();

		</script>
	</body>
</html>
